
/* Mobile Display */

.element{
    display: flex;
    justify-content: center;
    width: 50%;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
}

.one{
    color: white;
    background-color: #f44336;
    text-shadow: 1px 1px 1px black;
    font-size: 50px;
}

.two{
    color: white;
    background-color:  #FF9800;
    text-shadow: 1px 1px 1px black;
    font-size: 50px;
}

.three{
    color: white;
    background-color:  #FFEB3B;
    text-shadow: 1px 1px 1px black;
    font-size: 50px;
}

.four{
    color: white;
    background-color:  #8BC34A;
    text-shadow: 1px 1px 1px black;
    font-size: 50px;
}

.five{
    color: white;
    background-color: #2196F3;
    text-shadow: 1px 1px 1px black;
    font-size: 50px;
}

.six{
    color: white;
    background-color:  #9C27B0;
    text-shadow: 1px 1px 1px black;
    font-size: 50px;
}

@media screen and (min-width: 600px){

    /* Desktop Display */
    .element{
        width: 33.33%;
    }

    .grid{
        display: flex;
        height: 100vh;
        flex-wrap: wrap;
        margin: 0;
    }

    .one{
        color: white;
        background-color: #f44336;
        text-shadow: 1px 1px 1px black;
        font-size: 50px;
    }
    
    .two{
        color: white;
        background-color:  #FF9800;
        text-shadow: 1px 1px 1px black;
        font-size: 50px;
    }

    .three{
        color: white;
        background-color:  #FFEB3B;
        text-shadow: 1px 1px 1px black;
        font-size: 50px;
    }
    
    .four{
        color: white;
        background-color:  #8BC34A;
        text-shadow: 1px 1px 1px black;
        font-size: 50px;
    }
    

    .five{
        color: white;
        background-color: #2196F3;
        text-shadow: 1px 1px 1px black;
        font-size: 50px;
    }
    
    .six{
        color: white;
        background-color:  #9C27B0;
        text-shadow: 1px 1px 1px black;
        font-size: 50px;
    }

}